<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="nav">
  <a class="navbar-brand" href="/">Thunderhouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
     
     <li class="nav-item"><a class="nav-link" href="/hosts">Hosts</a></li>
     <li class="nav-item"><a class="nav-link" href="/zones">Zones</a></li>
     <li class="nav-item"><a class="nav-link" href="/dns-servers">DNS Servers</a></li>
</ul>
  </div>
</nav>

</html>