<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/header :: header"></head>
  <meta charset="UTF-8"></meta>
  <body>
  
  <div th:replace="fragments/nav :: nav">&nbsp;</div>
   
  <main role="main" class="container">

  <p class="my-5">
     <a href="/dns-servers/new" class="btn btn-primary"><i class="fas fa-user-plus ml-2">Add a DNS Server</i></a>
  </p>
    <div th:if="${not #lists.isEmpty(dnsServers)}">
        <h2>Host List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IP Address</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="dnsServer : ${dnsServers}">
                <td th:text="${dnsServer.id}"><a href="/dns-servers/${dnsServer.id}">Id</a></td>
                <td th:text="${dnsServer.name}">Name</td>
                <td th:text="${dnsServer.ipAddress}">IP Address</td>
                <td><a th:href="@{'/dns-servers/' + ${dnsServer.id}}">Show</a></td>
                <td><a th:href="@{'/dns-servers/' + ${dnsServer.id} + '/edit'}">Edit</a></td>
                <td><a th:href="@{'/dns-servers/' + ${dnsServer.id} + '/delete'}">Delete</a></td>
            </tr>
        </table>

    </div>
	

  </main><!-- /.container -->

  <div th:replace="fragments/footer :: footer">&nbsp;</div>
  </body>
</html>
